

// Main colors and shades

$main-color: #00c8c8;

$primary-color: #333333;

$light-gray: #f8f8f8;

$dark-gray: #727272;

$brown-gray: #575153;


.white-color{
	color: white;
}

.cyan-color{
	color: $main-color;
}

.dark-color{
	color: $primary-color;
}

.light-color{
	color: $light-gray;
}

.gray-color{
	color: $dark-gray;
}

.brown-color{
	color: $brown-gray;
}

// Background

.bg-white{
	background-color: white;

}

.bg-cyan{
	background-color: $main-color;
	color: white;
}

.bg-dark{
	background-color: $primary-color;
	color: white;
}

.bg-light{
	background-color: $light-gray;
	color: $primary-color;
}

.bg-gray{
	background-color: $dark-gray;
	color: white;
}

.bg-brown{
	background-color: $brown-gray;
	color: white;
}
