
.m-0{
	margin: 0px;
}

.m-1{
	margin: 10px;
}

.m-2{
 margin: 20px;
}

.m-3{
 margin: 30px;
}

.m-4{
 margin: 40px;
}

.m-5{
 margin: 50px;
}


// Margin top

.mt-0{
 margin-top: 0;
}

.mt-1{
 margin: 10px 0 0 0;
}

.mt-2{
margin: 20px 0 0 0;
}

.mt-3{
 margin: 30px 0 0 0;
}

.mt-4{
 margin: 40px 0 0 0;
}

.mt-5{
 margin: 50px 0 0 0;
}


 // Margin buttom

 .mb-0{
 margin-bottom: 0;
 }

 .mb-1{
 margin: 0 0 10px 0;
 }

 .mb-2{
 margin: 0 0 20px 0;
 }

 .mb-3{
	 margin: 0 0 30px 0;
 }

 .mb-4{
	 margin: 0 0 40px 0;
 }

 .mb-5{
	 margin: 0 0 50px 0;
 }


 // Margin left

 .ml-0{
 margin-left: 0px;
 }

 .ml-1{
 margin: 0 0 0 10px;
 }

 .ml-2{
 margin: 0 0 0 20px;
 }

 .ml-3{
	 margin: 0 0 0 30px;
 }

 .ml-4{
	 margin: 0 0 0 40px;
 }

 .ml-5{
	 margin: 0 0 0 50px;
 }


 // Margin right

 .mr-0{
 margin-right: 0px;
 }

 .mr-1{
 margin: 0 10px 0 0;
 }

 .mr-2{
 margin: 0 20px 0 0;
 }

 .mr-3{
	 margin: 0 30px 0 0;
 }

 .mr-4{
	 margin: 0 40px 0 0;
 }

 .mr-5{
	 margin: 0 50px 0 0;
 }

 // PADDING //

 .p-0{
	 padding: 0px;
 }

 .p-1{
	 padding: 10px;
 }

 .p-1-5{
	 padding: 15px;
 }

 .p-2{
	padding: 20px;
 }

 .p-3{
	padding: 30px;
 }

 .p-4{
	padding: 40px;
 }

 .p-5{
 	padding: 50px;
 }

 // padding top
 .pt-0{
	padding-top: 0px;
 }

 .pt-1{
	padding: 10px 0 0 0;
 }

 .pt-2{
 padding: 20px 0 0 0;
 }

 .pt-3{
 	padding: 30px 0 0 0;
 }

 .pt-4{
 	padding: 40px 0 0 0;
 }

 .pt-5{
 	padding: 50px 0 0 0;
 }


  // padding buttom

  .pb-0{
		padding-bottom: 0px;
	}

  .pb-2{
  padding: 0 0 20px 0;
  }

  .pb-3{
  	padding: 0 0 30px 0;
  }

  .pb-4{
  	padding: 0 0 40px 0;
  }

  .pb-5{
  	padding: 0 0 50px 0;
  }


	// padding left
	.pl-0{
	padding-left: 10px;
	}

	.pl-1{
	padding: 0 0 0 10px;
	}

	.pl-2{
	padding: 0 0 0 20px;
	}

	.pl-3{
		padding: 0 0 0 30px;
	}

	.pl-4{
		padding: 0 0 0 40px;
	}

	.pl-5{
		padding: 0 0 0 50px;
	}


	// padding right

	.pr-0{
		padding-right: 10px;
	}

	.pr-1{
		padding: 0 10px 0 0;
	}

	.pr-2{
		padding: 0 20px 0 0;
	}

	.pr-3{
		padding: 0 30px 0 0;
	}

	.pr-4{
		padding: 0 40px 0 0;
	}

	.pr-5{
		padding: 0 50px 0 0;
	}

	// padding x

	.px-0{
		padding-left: 0;
		padding-right: 0;
	}

	.px-1{
		padding: 0 10px;
	}

	.px-2{
		padding: 0 20px;
	}

	.px-3{
		padding: 0 30px;
	}

	.px-4{
		padding: 0 40px;
	}

	.px-5{
		padding: 0 50px;
	}

	// padding y

	.py-0{
		padding-top:0;
		padding-bottom:0;
	}

	.py-1{
		padding: 10px 0;
	}

	.py-2{
		padding: 20px 0;
	}

	.py-3{
		padding: 30px 0;
	}

	.py-4{
		padding: 40px 0;
	}

	.py-5{
		padding: 50px 0;
	}


	// margin y

	.my-0{
		margin-top:0;
		margin-bottom:0;
	}

	.my-1{
		margin: 10px 0;
	}

	.my-2{
		margin: 20px 0;
	}

	.my-3{
		margin: 30px 0;
	}

	.my-4{
		margin: 40px 0;
	}

	.my-5{
		margin: 50px 0;
	}



		// margin y

		.mx-0{
			margin-left:0;
			margin-right:0;
		}

		.mx-1{
			margin: 0 10px;
		}

		.mx-2{
			margin: 0 20px;
		}

		.mx-3{
			margin: 0 30px;
		}

		.mx-4{
			margin: 0 40px;
		}

		.mx-5{
			margin: 0 50px;
		}

	//


	.m-auto{
		margin: auto;
	}

	.ml-auto{
		margin-left: auto;
	}

	.mr-auto{
		margin-right: auto;
	}

	.d-flex{
		display: flex;
	}

	.jf-center{
		justify-content: center;
	}

	.jf-between{
		justify-content: space-between;
	}

	.jf-around{
		justify-content: space-around;
	}

	.jf-start{
		justify-content: flex-start;
	}

	.ai-center{
		align-items: center;
	}

	.fd-column{
		flex-direction: column;
	}

	.uppercase{
		text-transform: uppercase;
	}


	@mixin hide-focus {
		&:focus {
			outline-width: 0;
		}
	}
